<h1><center>Air Quality and 311 Requests 2021, Part B</center></h1>

In [1]:
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from matplotlib.ticker import FuncFormatter
import pandas as pd
import numpy as np
import seaborn as sns
from pandas.plotting import scatter_matrix
%matplotlib inline
from branca.element import Figure
from pylab import rcParams

import folium
from folium.features import DivIcon
from folium import FeatureGroup
import geopandas as gpd
import requests
import os
import glob

import time
import datetime

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

<h2>Reading Sensors Location Data</h2>

In [2]:
sensors_loc_df = pd.read_csv("pa_sensors.csv")
sensors_loc_df

,sensor_name,sensor_index,location_type,latitude,longitude
0,AEnv,85645,0,34.260450,-118.337010
1,AQMD_NASA_3,6454,0,34.129322,-118.202470
2,AQMD_NASA_248,27109,0,34.164770,-118.591150
3,CCA La Kretz Innovation Center LACI,29201,0,34.041237,-118.235590
4,CSUN Live Oak,29697,0,34.238180,-118.528336
5,CCA 23rd and Meyler,30391,0,33.723373,-118.296840
6,Granada Hills,87181,0,34.304108,-118.514130
7,Hacienda,7290,0,34.180466,-118.417690
8,Miracle Mile,77657,0,34.058422,-118.357635
9,Nichols Canyon Road,32969,0,34.122124,-118.360220

<h2>Getting Data Through PurpleAir API</h2>

In [3]:
READ_KEY = "A6E4A431-2262-11ED-B5AA-42010A800006" 
WRITE_KEY = "A6E54D99-2262-11ED-B5AA-42010A800006"
headers = {'X-API-Key': READ_KEY,}

In [4]:
# Check our READ_KEY
root_url = "https://api.purpleair.com/v1/keys"
api_url = root_url + f'?api_key={READ_KEY}'   
results = requests.get(api_url).json()
results

{'api_version': 'V1.0.11-0.0.39',
 'time_stamp': 1661986434,
 'api_key_type': 'READ'}

In [5]:
# See a sample of API request
s_id = 29201 # sensor index
response = requests.get(f'https://api.purpleair.com/v1/sensors/{s_id}?fields=pm2.5_cf_1%2C%20pm10.0_cf_1', headers=headers).json()
response

{'api_version': 'V1.0.11-0.0.39',
 'time_stamp': 1661986435,
 'data_time_stamp': 1661986419,
 'sensor': {'sensor_index': 29201, 'pm2.5_cf_1': 10.5, 'pm10.0_cf_1': 13.4}}

In [6]:
# See another sample of API request
root_url = "https://api.purpleair.com/v1/sensors/{}".format(s_id)
api_url = root_url + '?api_key={}'.format(READ_KEY)
results = requests.get(api_url).json()
results

{'api_version': 'V1.0.11-0.0.39',
 'time_stamp': 1661986435,
 'data_time_stamp': 1661986422,
 'sensor': {'sensor_index': 29201,
  'last_modified': 1611106365,
  'date_created': 1553019280,
  'last_seen': 1661986379,
  'private': 0,
  'is_owner': 0,
  'name': 'CCA\xa0La Kretz Innovation Center LACI',
  'icon': 0,
  'location_type': 0,
  'model': 'PA-II',
  'hardware': '2.0+BME280+PMSX003-B+PMSX003-A',
  'led_brightness': 35,
  'firmware_version': '7.00',
  'rssi': -73,
  'uptime': 17316,
  'pa_latency': 286,
  'memory': 15120,
  'position_rating': 5,
  'latitude': 34.041237,
  'longitude': -118.23559,
  'altitude': 259,
  'channel_state': 3,
  'channel_flags': 0,
  'channel_flags_manual': 0,
  'channel_flags_auto': 0,
  'confidence': 100,
  'confidence_auto': 100,
  'confidence_manual': 100,
  'humidity': 26,
  'humidity_a': 26,
  'temperature': 97,
  'temperature_a': 97,
  'pressure': 1000.18,
  'pressure_a': 1000.18,
  'analog_input': 0.02,
  'pm1.0': 7.5,
  'pm1.0_a': 7.9,
  'pm1.0_b': 7.1,
  'pm2.5': 10.5,
  'pm2.5_a': 11.4,
  'pm2.5_b': 9.6,
  'pm2.5_alt': 6.5,
  'pm2.5_alt_a': 6.9,
  'pm2.5_alt_b': 6.0,
  'pm10.0': 13.4,
  'pm10.0_a': 14.5,
  'pm10.0_b': 12.2,
  'scattering_coefficient': 23.6,
  'scattering_coefficient_a': 24.7,
  'scattering_coefficient_b': 22.6,
  'deciviews': 13.4,
  'deciviews_a': 13.8,
  'deciviews_b': 13.1,
  'visual_range': 101.7,
  'visual_range_a': 98.3,
  'visual_range_b': 105.2,
  '0.3_um_count': 1576,
  '0.3_um_count_a': 1649,
  '0.3_um_count_b': 1504,
  '0.5_um_count': 431,
  '0.5_um_count_a': 460,
  '0.5_um_count_b': 402,
  '1.0_um_count': 61,
  '1.0_um_count_a': 67,
  '1.0_um_count_b': 55,
  '2.5_um_count': 6,
  '2.5_um_count_a': 8,
  '2.5_um_count_b': 5,
  '5.0_um_count': 2,
  '5.0_um_count_a': 2,
  '5.0_um_count_b': 3,
  '10.0_um_count': 2,
  '10.0_um_count_a': 2,
  '10.0_um_count_b': 3,
  'pm1.0_cf_1': 7.5,
  'pm1.0_cf_1_a': 7.88,
  'pm1.0_cf_1_b': 7.12,
  'pm1.0_atm': 7.5,
  'pm1.0_atm_a': 7.88,
  'pm1.0_atm_b': 7.12,
  'pm2.5_atm': 10.5,
  'pm2.5_atm_a': 11.41,
  'pm2.5_atm_b': 9.55,
  'pm2.5_cf_1': 10.5,
  'pm2.5_cf_1_a': 11.41,
  'pm2.5_cf_1_b': 9.55,
  'pm10.0_atm': 13.4,
  'pm10.0_atm_a': 14.53,
  'pm10.0_atm_b': 12.2,
  'pm10.0_cf_1': 13.4,
  'pm10.0_cf_1_a': 14.53,
  'pm10.0_cf_1_b': 12.2,
  'primary_id_a': 735070,
  'primary_key_a': 'XLWVDZG48RMSC3SN',
  'primary_id_b': 735073,
  'primary_key_b': 'S6JK6CIPELE4F4KI',
  'secondary_id_a': 735072,
  'secondary_key_a': 'BCST9N9B2VV65KG9',
  'secondary_id_b': 735074,
  'secondary_key_b': 'P6WNC0TABC3ZFO8N',
  'stats': {'pm2.5': 10.5,
   'pm2.5_10minute': 13.2,
   'pm2.5_30minute': 14.0,
   'pm2.5_60minute': 15.8,
   'pm2.5_6hour': 19.8,
   'pm2.5_24hour': 17.4,
   'pm2.5_1week': 14.8,
   'time_stamp': 1661986379},
  'stats_a': {'pm2.5': 11.4,
   'pm2.5_10minute': 13.8,
   'pm2.5_30minute': 14.6,
   'pm2.5_60minute': 16.4,
   'pm2.5_6hour': 20.6,
   'pm2.5_24hour': 18.5,
   'pm2.5_1week': 15.9,
   'time_stamp': 1661986379},
  'stats_b': {'pm2.5': 9.6,
   'pm2.5_10minute': 12.5,
   'pm2.5_30minute': 13.3,
   'pm2.5_60minute': 15.1,
   'pm2.5_6hour': 19.0,
   'pm2.5_24hour': 16.3,
   'pm2.5_1week': 13.6,
   'time_stamp': 1661986379}}}

PurpleAir requires us to use __Unix Timestamp__ when making an API call. We want to get the data of `pm2.5_cf_1` and `pm10.0_cf_1` from the selected sensors from 01/01/2021 until 12/31/2022. See information on how to convert DateTime to UNIX Timestamp and how to convert the UNIX Timestamp back to Datetime [here](https://www.geeksforgeeks.org/how-to-convert-datetime-to-unix-timestamp-in-python/).

<h4>Get UNIX Timestamp of Start Date</h4>

In [7]:
# assigned regular string date (year, month, date, hour, minute)
start_date_time = datetime.datetime(2021, 1, 1, 16, 0) 
 
# print regular python date&time
print("start_date_time =>", start_date_time)
 
# displaying unix timestamp after conversion
unix_start_time = time.mktime(start_date_time.timetuple())
print("unix_start_time => ",
      (unix_start_time))

start_date_time => 2021-01-01 16:00:00
unix_start_time =>  1609545600.0

In [8]:
# Other method to get Unix Tinestamp
date_example = "1/2/2021, 00:00:00"
date_format = datetime.datetime.strptime(date_example,
                                         "%m/%d/%Y, %H:%M:%S")
unix_time = datetime.datetime.timestamp(date_format)
print(unix_time)

1609574400.0

<h4>Get UNIX Timestamp of End Date</h4>

In [9]:
# assigned regular string date (year, month, date, hour, minute, second)
end_date_time = datetime.datetime(2022, 1, 1, 16, 59, 59) 
 
# print regular python date&time
print("end_date_time =>",end_date_time)
 
# displaying unix timestamp after conversion
unix_end_time = time.mktime(end_date_time.timetuple())
print("unix_end_time => ",
      (unix_end_time))

end_date_time => 2022-01-01 16:59:59
unix_end_time =>  1641085199.0

In [10]:
# Check our UNIX Timestamp by converting it back to DateTime
date_time = datetime.datetime.fromtimestamp(unix_end_time)
 
# print unix time stamp
print("Unix_Time =>",unix_end_time)
print(type(unix_end_time))
 
# displaying date and time in a regular
# string format
print("Date & Time =>" ,
      date_time.strftime('%Y-%m-%d %H:%M:%S'))

Unix_Time => 1641085199.0
<class 'float'>
Date & Time => 2022-01-01 16:59:59

In [11]:
# Import function from pa_tools.py
from pa_tools import create_df

Let's see what a full year data look like from __*CCA La Kretz Innovation Center LACI*__.

PurpleAir only provides raw data of PMs. Therefore, we need to calculate the AQI from the raw data. For information on how to calculate AQI from raw data see [EPA AQI Breakpoints](https://aqs.epa.gov/aqsweb/documents/codetables/aqi_breakpoints.html) and [The AQI Equation](https://forum.airnowtech.org/t/the-aqi-equation/169).

In [12]:
s_id = 29201 # sensor_index
average = 1440 # get the average of raw data per 1440 minutes or 1 day (1 day = 1440 minutes)
response = requests.get(f"https://api.purpleair.com/v1/sensors/{s_id}/history?start_timestamp={unix_start_time}&end_timestamp={unix_end_time}&average={average}&fields=pm1.0_cf_1%2C%20pm2.5_cf_1%2C%20pm10.0_cf_1", headers=headers).json()
response

{'api_version': 'V1.0.11-0.0.39',
 'time_stamp': 1661986436,
 'sensor_index': 29201,
 'start_timestamp': 1609545600,
 'end_timestamp': 1641085199,
 'average': 1440,
 'fields': ['time_stamp', 'pm1.0_cf_1', 'pm2.5_cf_1', 'pm10.0_cf_1'],
 'data': [[1637971200, 9.8515, 14.1795, 17.1305],
  [1632355200, 9.215, 13.4055, 16.768],
  [1637539200, 3.618, 4.9655000000000005, 6.045999999999999],
  [1620950400, 14.157499999999999, 21.866500000000002, 25.368499999999997],
  [1627344000, 14.233, 22.6375, 26.703],
  [1631232000, 11.009, 17.051000000000002, 20.011499999999998],
  [1619308800, 6.606999999999999, 10.111, 12.828],
  [1615593600, 15.974499999999999, 22.2845, 25.006999999999998],
  [1612742400, 32.635999999999996, 57.581999999999994, 70.9885],
  [1627603200, 12.318999999999999, 18.9165, 22.3215],
  [1633651200, 3.981, 5.7940000000000005, 7.068],
  [1633305600, 11.314499999999999, 15.239, 17.4745],
  [1618617600, 13.411, 20.197000000000003, 25.22],
  [1614297600, 5.375500000000001, 7.399, 9.048],
  [1625875200, 9.479, 14.4175, 18.0715],
  [1610841600, 11.5315, 15.973, 18.329],
  [1639008000, 10.5045, 17.076, 20.839],
  [1615507200, 5.495, 7.277, 8.343],
  [1639872000, 12.6615, 18.096, 21.2335],
  [1637625600, 6.589, 9.1065, 10.85],
  [1638662400, 35.0205, 63.364000000000004, 81.51400000000001],
  [1615161600, 5.218500000000001, 7.512499999999999, 9.459],
  [1613174400, 6.5875, 9.9635, 13.1205],
  [1637193600, 32.969, 57.6025, 70.88749999999999],
  [1622764800, 15.410499999999999, 24.5705, 28.558999999999997],
  [1640044800, 17.534, 26.64, 32.026],
  [1624838400, 16.6375, 25.5155, 29.983],
  [1617408000, 24.8985, 42.107, 50.873999999999995],
  [1611878400, 2.1725, 3.3365, 4.2605],
  [1633132800, 11.1125, 15.6145, 18.473],
  [1639526400, 4.572, 6.412, 7.694],
  [1621814400, 6.9285, 9.942, 12.5405],
  [1622851200, 12.786, 18.860500000000002, 21.378],
  [1624752000, 11.2095, 16.664, 19.843000000000004],
  [1614643200, 3.7554999999999996, 5.2475000000000005, 6.384],
  [1614902400, 11.787500000000001, 16.374000000000002, 19.0795],
  [1626480000, 10.705, 15.8025, 18.397],
  [1635206400, 7.121, 11.126000000000001, 13.9145],
  [1631836800, 16.019, 26.1635, 31.635],
  [1611273600, 10.4165, 14.5005, 17.012],
  [1623628800, 4.8605, 7.27, 9.3425],
  [1626652800, 8.4865, 12.2915, 14.711],
  [1636329600, 31.1195, 57.7675, 75.102],
  [1639612800, 8.4755, 11.864, 14.0915],
  [1620259200, 16.918, 27.067500000000003, 33.4035],
  [1632700800, 13.7205, 22.0175, 26.183],
  [1638230400, 35.638999999999996, 52.778, 61.8305],
  [1638057600, 15.7765, 21.9035, 25.313],
  [1623801600, 5.702, 8.7925, 12.31],
  [1617494400, 18.633499999999998, 27.399, 32.2965],
  [1618272000, 9.055499999999999, 14.6405, 20.201],
  [1628985600, 11.370000000000001, 17.3465, 20.6275],
  [1613692800, 7.804, 10.589, 12.3335],
  [1636243200, 37.4215, 75.874, 107.12700000000001],
  [1617580800, 8.879, 13.747, 17.706],
  [1615852800, 2.6235, 3.7945, 4.7725],
  [1622246400, 10.1055, 14.925, 18.499499999999998],
  [1636502400, 18.887, 32.938500000000005, 40.659499999999994],
  [1631664000, 22.975, 38.5225, 46.637],
  [1631059200, 21.613999999999997, 36.533, 43.2615],
  [1613520000, 3.159, 4.827999999999999, 6.6015],
  [1620604800, 9.815, 14.515, 18.3055],
  [1629244800, 9.9775, 15.0405, 17.625],
  [1621036800, 7.7795, 11.029, 12.991],
  [1619913600, 7.26, 10.52, 13.5395],
  [1630627200, 19.909, 33.805, 41.2325],
  [1617667200, 8.985, 14.436, 18.871000000000002],
  [1634428800, 8.346499999999999, 11.3245, 13.21],
  [1638144000, 19.67, 29.384999999999998, 34.942499999999995],
  [1624147200, 15.0135, 24.0565, 27.9135],
  [1611014400, 20.1325, 32.74550000000001, 38.397000000000006],
  [1632787200, 8.9585, 13.691500000000001, 16.1705],
  [1626739200, 8.6465, 13.1695, 16.0395],
  [1616112000, 10.529499999999999, 15.09, 18.242],
  [1614038400, 4.682499999999999, 6.587999999999999, 7.9624999999999995],
  [1618185600, 10.4335, 16.6335, 22.792],
  [1612656000, 38.8565, 59.432, 70.28800000000001],
  [1628121600, 11.1585, 16.698999999999998, 20.7235],
  [1629504000, 8.0445, 12.119499999999999, 14.423],
  [1617753600, 10.585999999999999, 16.375500000000002, 20.7725],
  [1618963200, 7.441, 10.915, 14.145],
  [1631923200, 9.716000000000001, 14.828, 17.908],
  [1616371200, 3.5885, 5.24, 6.938000000000001],
  [1611792000, 6.101, 8.649000000000001, 10.643],
  [1638316800, 47.6605, 77.23949999999999, 93.59299999999999],
  [1617148800, 11.355, 17.1955, 21.763],
  [1629072000, 9.7175, 15.0745, 17.915999999999997],
  [1639094400, 5.4105, 7.824, 9.4245],
  [1621123200, 3.7359999999999998, 5.184, 6.143],
  [1638576000, 38.6495, 72.449, 93.54849999999999],
  [1635120000, 5.1315, 7.93, 10.0505],
  [1618358400, 5.4145, 8.732, 12.496],
  [1624320000, 8.470500000000001, 12.2105, 14.536],
  [1628553600, 14.1325, 21.515, 24.877499999999998],
  [1635897600, 29.380499999999998, 51.733999999999995, 63.974999999999994],
  [1636156800, 37.918, 77.8675, 109.213],
  [1636848000, 8.176, 11.001999999999999, 12.7575],
  [1635292800, 4.8385, 6.7135, 8.238499999999998],
  [1630281600, 19.264499999999998, 30.5005, 36.814],
  [1615075200, 9.131, 14.193000000000001, 17.304499999999997],
  [1614384000, 12.6775, 17.9865, 21.566499999999998],
  [1629763200, 14.0545, 22.3705, 26.4375],
  [1620345600, 13.736, 20.46, 24.244999999999997],
  [1613779200, 11.869, 16.793, 19.716],
  [1631145600, 12.464500000000001, 20.180500000000002, 23.958],
  [1620086400, 11.616499999999998, 18.7395, 25.125],
  [1621468800, 4.252, 7.534000000000001, 11.5765],
  [1613001600, 28.976999999999997, 47.195, 56.1935],
  [1628640000, 10.2195, 14.8985, 17.301000000000002],
  [1640563200, 6.612, 9.311, 11.212],
  [1612396800, 10.9835, 17.366500000000002, 21.4355],
  [1618704000, 10.4775, 15.011, 18.136499999999998],
  [1632182400, 12.6345, 18.2145, 21.6335],
  [1628812800, 9.647, 14.3565, 16.8985],
  [1636675200, 3.9005, 5.417, 6.5715],
  [1623369600, 4.407500000000001, 6.9510000000000005, 9.95],
  [1625184000, 12.8, 20.033, 23.5905],
  [1625702400, 10.969000000000001, 16.4835, 19.9805],
  [1636416000, 23.1495, 39.1035, 47.391],
  [1632873600, 13.247, 20.589, 24.055500000000002],
  [1628380800, 19.3135, 31.887999999999998, 38.063500000000005],
  [1614729600, 8.1625, 11.725000000000001, 14.135],
  [1629331200, 5.973, 8.8985, 10.5175],
  [1632614400, 15.267, 24.6355, 28.951],
  [1610668800, 6.8875, 9.552, 11.532],
  [1625356800, 13.6995, 21.3245, 24.9675],
  [1637366400, 36.49250000000001, 71.4565, 95.0445],
  [1637020800, 34.394999999999996, 59.818, 74.05850000000001],
  [1618444800, 7.4185, 11.3875, 15.5975],
  [1627257600, 12.628499999999999, 18.965, 22.3415],
  [1640131200, 21.3885, 33.032, 39.819],
  [1611532800, 1.205, 2.0475, 3.101],
  [1637107200, 28.426499999999997, 49.184, 59.7585],
  [1625961600, 10.6955, 16.265, 20.146],
  [1623715200, 6.2825, 9.0505, 11.603],
  [1622332800, 9.1155, 13.2605, 16.025],
  [1630886400, 21.15, 33.86, 39.929],
  [1639699200, 20.7845, 29.8655, 34.3885],
  [1610409600, 5.003500000000001, 6.9505, 8.432500000000001],
  [1610064000, 24.429499999999997, 36.17, 42.429],
  [1611360000, 3.816, 5.59, 7.139],
  [1622505600, 20.843, 33.778999999999996, 40.131],
  [1633824000, 8.461, 11.6875, 14.049499999999998],
  [1616630400, 3.112, 5.077, 7.438],
  [1627516800, 8.8205, 13.343499999999999, 16.1585],
  [1614211200, 21.5415, 35.298500000000004, 42.965999999999994],
  [1619481600, 1.9005, 3.05, 4.3725000000000005],
  [1616284800, 6.4595, 9.776, 12.634],
  [1622678400, 16.669, 26.512999999999998, 30.6725],
  [1617321600, 10.693000000000001, 15.316, 18.509],
  [1632268800, 11.251999999999999, 16.7405, 19.161],
  [1640476800, 4.1395, 5.9399999999999995, 7.2895],
  [1613606400, 7.241, 9.927, 11.6005],
  [1631577600, 19.4555, 33.8645, 41.7995],
  [1620172800, 19.052999999999997, 31.133, 39.209],
  [1618012800, 8.907, 14.748, 20.741999999999997],
  [1628899200, 11.909500000000001, 18.4925, 21.9215],
  [1625788800, 11.1655, 16.2065, 19.9665],
  [1640908800, 7.390499999999999, 10.250499999999999, 11.79],
  [1640649600, 9.2715, 13.497, 16.005499999999998],
  [1619222400, 8.758, 12.84, 15.3995],
  [1630108800, 12.568999999999999, 21.061, 25.7275],
  [1635638400, 25.387999999999998, 42.6285, 50.676500000000004],
  [1634515200, 5.933999999999999, 8.367, 10.510000000000002],
  [1614556800, 3.7935, 5.314, 6.4965],
  [1637280000, 35.9935, 66.359, 84.8755],
  [1612310400, 10.861, 15.2505, 17.994500000000002],
  [1623110400, 2.9785, 4.266, 5.317],
  [1632096000, 15.386, 23.7975, 28.254],
  [1612828800, 16.5355, 26.3315, 31.8105],
  [1630972800, 19.435499999999998, 30.3465, 35.5175],
  [1634947200, 11.888, 18.861, 22.179499999999997],
  [1634860800, 18.754, 32.5485, 39.621],
  [1639267200, 12.957, 18.476, 21.4935],
  [1625011200, 13.5715, 20.4795, 23.46],
  [1629936000, 20.735500000000002, 34.283500000000004, 40.8465],
  [1631750400, 18.3815, 30.859499999999997, 37.561],
  [1625443200, 55.331, 87.3695, 101.8595],
  [1634169600, 14.46, 19.557000000000002, 22.497],
  [1639958400, 28.014499999999998, 41.587, 48.9535],
  [1614124800, 13.349, 18.558500000000002, 21.3275],
  [1640995200, 15.4885, 21.679, 25.061],
  [1618876800, 13.7575, 20.9795, 26.2545],
  [1612483200, 16.9365, 25.373, 29.808999999999997],
  [1619740800, 6.899, 9.389, 11.533999999999999],
  [1622592000, 17.282, 28.4405, 33.3875],
  [1621728000, 6.4855, 9.9455, 13.309000000000001],
  [1627171200, 12.951, 19.799, 23.756999999999998],
  [1617235200, 5.3865, 7.34, 8.881],
  [1624924800, 14.711, 22.33, 25.8825],
  [1640390400, 15.787500000000001, 21.715, 24.875999999999998],
  [1635811200, 18.971, 32.014, 39.149],
  [1633737600, 4.753, 6.8309999999999995, 8.675],
  [1609632000, 23.7945, 35.9975, 42.418499999999995],
  [1616803200, 7.2555, 10.8095, 13.628],
  [1629590400, 14.5445, 22.4795, 26.2295],
  [1610150400, 27.0995, 43.949, 53.2285],
  [1628035200, 8.4905, 12.4725, 15.504000000000001],
  [1625097600, 15.466000000000001, 24.369500000000002, 28.215],
  [1621382400, 12.3565, 18.405, 21.564999999999998],
  [1630800000, 16.5265, 24.861, 29.0485],
  [1610236800, 7.436, 10.689, 12.725],
  [1630022400, 14.983, 24.652, 30.770000000000003],
  [1616716800, 2.7119999999999997, 4.5489999999999995, 6.798],
  [1624492800, 2.684, 3.8585, 4.6905],
  [1635379200, 5.484, 7.307499999999999, 8.6445],
  [1624665600, 7.845, 11.205, 13.6145],
  [1616198400, 5.138999999999999, 8.1975, 10.410499999999999],
  [1627948800, 7.067, 10.2525, 12.7935],
  [1619568000, 4.888, 7.171, 9.3585],
  [1621900800, 7.2075, 10.315000000000001, 13.1195],
  [1609977600, 12.656500000000001, 18.5775, 22.423499999999997],
  [1613952000, 4.673, 6.5685, 7.897],
  [1612569600, 15.521999999999998, 22.052500000000002, 25.514],
  [1626307200, 9.814499999999999, 14.465, 16.9105],
  [1632441600, 17.0955, 26.505000000000003, 31.281],
  [1625529600, 11.7165, 18.04, 21.157],
  [1615680000, 8.91, 12.773, 16.3295],
  [1626048000, 11.365, 17.6265, 21.561500000000002],
  [1627430400, 8.7585, 13.341999999999999, 15.6715],
  [1621987200, 7.0495, 10.898499999999999, 14.9155],
  [1628294400, 18.256999999999998, 29.4715, 35.2145],
  [1625616000, 12.5455, 19.297, 22.8705],
  [1626825600, 8.2025, 12.646, 16.594],
  [1616889600, 7.8195, 10.5945, 12.663],
  [1629158400, 12.513, 19.805500000000002, 23.557],
  [1623196800, 3.1925, 5.0615000000000006, 7.172499999999999],
  [1624579200, 3.6864999999999997, 5.244, 6.5985],
  [1616025600, 11.3095, 16.2315, 19.703000000000003],
  [1639785600, 7.545, 10.649000000000001, 12.623999999999999],
  [1636761600, 3.5220000000000002, 4.81, 5.797499999999999],
  [1611100800, 3.216, 4.687, 5.959],
  [1626220800, 12.266, 19.868000000000002, 24.0935],
  [1640304000, 4.26, 6.305, 7.7170000000000005],
  [1628467200, 20.158, 32.3045, 37.671],
  [1618790400, 10.1795, 13.4655, 15.669],
  [1615939200, 5.8395, 8.3985, 10.448],
  [1615248000, 3.937, 6.2545, 8.788499999999999],
  [1624060800, 18.213, 29.105, 34.326499999999996],
  [1634601600, 3.5955000000000004, 5.395, 7.1495],
  [1635984000, 28.429499999999997, 52.9645, 67.78999999999999],
  [1632009600, 14.512, 23.4545, 28.419],
  [1610496000, 11.268, 15.685, 18.450499999999998],
  [1626134400, 12.636, 20.486, 25.18],
  [1621555200, 2.8585000000000003, 5.375500000000001, 8.6845],
  [1627084800, 15.4565, 24.860500000000002, 30.747],
  [1623542400, 7.531499999999999, 10.9725, 13.7395],
  [1609545600, 14.9905, 20.5255, 23.471],
  [1638835200, 25.925, 45.051500000000004, 55.5955],
  [1626998400, 11.1485, 17.396, 22.918],
  [1631404800, 9.357, 14.023499999999999, 18.014],
  [1635033600, 6.368, 9.5235, 11.7075],
  [1622073600, 8.477, 12.688, 16.6845],
  [1628208000, 12.8645, 19.9935, 24.212],
  [1627862400, 7.465999999999999, 10.575, 12.774999999999999],
  [1620432000, 9.086500000000001, 13.3505, 16.006999999999998],
  [1632528000, 15.843, 24.4005, 28.481499999999997],
  [1623283200, 2.5505, 4.157, 6.12],
  [1639440000, 5.659, 8.401499999999999, 10.1365],
  [1612051200, 8.432500000000001, 11.368, 12.893999999999998],
  [1624233600, 15.3585, 24.173000000000002, 28.2395],
  [1615766400, 3.398, 5.093500000000001, 6.634],
  [1638748800, 44.7655, 75.763, 94.9825],
  [1638403200, 38.498000000000005, 71.764, 96.16300000000001],
  [1613088000, 16.73, 28.366500000000002, 34.21],
  [1619827200, 8.942, 13.745000000000001, 18.425],
  [1627776000, 9.8775, 13.761, 16.042],
  [1625270400, 11.416, 17.3085, 20.2515],
  [1627689600, 11.2365, 16.555500000000002, 19.231499999999997],
  [1613347200, 4.2285, 6.1129999999999995, 7.811],
  [1619654400, 6.141, 8.526499999999999, 10.765],
  [1619395200, 1.192, 1.9775, 2.8179999999999996],
  [1610755200, 7.0095, 9.665500000000002, 11.431000000000001],
  [1617840000, 8.379999999999999, 12.991, 17.366500000000002],
  [1634774400, 8.7915, 12.5245, 15.1965],
  [1612137600, 5.662, 7.695, 8.9255],
  [1626912000, 8.3585, 13.478, 17.964],
  [1618099200, 11.8305, 19.0955, 25.4825],
  [1634083200, 10.021999999999998, 13.508, 15.7415],
  [1622937600, 9.276, 14.133, 16.3345],
  [1614470400, 6.836, 9.846, 12.223500000000001],
  [1626566400, 9.531500000000001, 13.7975, 16.2855],
  [1611619200, 1.909, 2.9145000000000003, 3.867],
  [1629849600, 14.631, 23.872, 28.47],
  [1616976000, 7.639, 10.468, 12.560500000000001],
  [1611705600, 3.1385, 4.5575, 5.883],
  [1628726400, 10.694500000000001, 15.5395, 18.418],
  [1637452800, 26.201, 45.493, 57.1385],
  [1616457600, 4.1775, 6.9685, 10.2705],
  [1630368000, 18.416, 29.835, 35.809],
  [1623456000, 5.8115, 8.6965, 11.5455],
  [1633046400, 6.580500000000001, 9.463000000000001, 11.6695],
  [1614988800, 12.145, 17.719, 21.579],
  [1623974400, 17.0165, 26.256999999999998, 31.335],
  [1614816000, 8.8835, 11.8225, 13.325],
  [1619136000, 9.0485, 13.1625, 15.605],
  [1633996800, 1.3900000000000001, 2.465, 4.2255],
  [1609804800, 24.984, 40.8805, 49.684],
  [1630454400, 23.546999999999997, 37.9845, 45.123000000000005],
  [1611964800, 9.120999999999999, 12.5125, 14.3],
  [1610928000, 10.044, 13.758500000000002, 15.9785],
  [1609891200, 21.740000000000002, 35.2305, 42.4785],
  [1620518400, 11.3605, 16.944499999999998, 21.0485],
  [1617062400, 14.1555, 21.759999999999998, 26.9285],
  [1637884800, 7.0975, 9.8965, 11.658999999999999],
  [1636934400, 15.125, 21.2395, 24.558],
  [1621641600, 3.812, 6.5375, 10.003],
  [1633478400, 18.269, 29.133000000000003, 34.0495],
  [1613260800, 1.126, 1.831, 2.606],
  [1629676800, 18.227, 29.573999999999998, 34.968999999999994],
  [1636588800, 12.573, 19.8765, 23.9335],
  [1619049600, 6.759, 9.5685, 11.5455],
  [1640822400, 2.572, 3.6545, 4.3625],
  [1620777600, 12.657499999999999, 19.548000000000002, 23.4745],
  [1626393600, 11.3515, 17.683999999999997, 20.731],
  [1624406400, 5.406000000000001, 8.1345, 10.059000000000001],
  [1638489600, 42.5245, 85.2265, 115.935],
  [1635724800, 30.777, 53.065, 64.81450000000001],
  [1620864000, 11.7455, 17.897, 21.1095],
  [1636070400, 33.492, 61.127, 80.299],
  [1620000000, 7.8865, 12.2245, 16.1885],
  [1629417600, 6.5685, 9.471499999999999, 11.2655],
  [1618531200, 12.462499999999999, 19.642, 25.5265],
  [1631491200, 14.449000000000002, 24.990000000000002, 31.060000000000002],
  [1630713600, 18.289499999999997, 28.1705, 33.2495],
  [1623888000, 11.8935, 17.426000000000002, 21.759],
  [1637798400, 8.908000000000001, 12.868, 15.3795],
  [1640217600, 19.573, 30.237000000000002, 36.1405],
  [1634342400, 7.5009999999999994, 10.038, 11.757],
  [1612224000, 11.972000000000001, 17.253, 20.228],
  [1635552000, 23.231, 36.9795, 43.7625],
  [1634256000, 10.1585, 13.869, 16.224],
  [1633564800, 14.5965, 22.557499999999997, 26.3505],
  [1621209600, 5.0600000000000005, 6.9295, 8.022],
  [1640736000, 8.9805, 12.7605, 15.218],
  [1631318400, 9.207, 13.518, 16.139499999999998],
  [1633219200, 10.687000000000001, 14.446, 16.5475],
  [1611446400, 15.3415, 20.602, 22.8715],
  [1632960000, 12.692, 18.817, 22.0375],
  [1638921600, 20.9695, 33.561, 40.5835],
  [1621296000, 10.9515, 16.168, 18.547],
  [1613433600, 6.337, 10.0485, 13.157],
  [1633392000, 9.1245, 12.747499999999999, 14.7295],
  [1634688000, 6.8545, 9.9035, 12.3595],
  [1633910400, 12.2305, 17.492, 21.0405],
  [1620691200, 13.5755, 21.0905, 25.978],
  [1613865600, 2.8609999999999998, 4.064, 5.105499999999999],
  [1612915200, 21.674500000000002, 34.499, 40.897],
  [1610323200, 6.6305, 9.352, 11.227],
  [1639353600, 20.4025, 29.7225, 34.479],
  [1622160000, 13.773, 21.4175, 26.212000000000003],
  [1630195200, 14.3295, 23.5415, 28.4375],
  [1639180800, 8.064, 11.2915, 13.273],
  [1611187200, 3.6585, 5.207, 6.468],
  [1609718400, 25.862000000000002, 38.7805, 45.177499999999995],
  [1622419200, 12.8535, 18.8745, 22.102],
  [1617926400, 7.531, 12.4855, 17.8915],
  [1637712000, 11.7865, 17.454, 20.5545],
  [1630540800, 15.518, 24.570999999999998, 29.1795],
  [1616544000, 1.1315, 1.863, 2.6985],
  [1615420800, 1.774, 2.7435, 3.5004999999999997],
  [1623024000, 4.932, 6.9719999999999995, 8.1495],
  [1615334400, 1.6099999999999999, 2.677, 3.8114999999999997],
  [1610582400, 8.1265, 11.4995, 13.825500000000002],
  [1635465600, 8.491, 12.0155, 14.196]]}

<h3>Getting Data of the Selected 10 Sensors</h3>

We will create dataframe from the selected 10 sensors. The dataframe will consist of `pm1.0_cf_1`, `pm2.5_cf_1`, and `pm10.0_cf_1`. We will calculate the AQI of pm2.5_cf_1 and pm10.0_cf_1, then we will find MAX(pm2.5 AQI, pm10.0 AQI) to get the final AQI.

In [13]:
# This part is commented so it won't call the API everytime we refresh the notebook.

#sensors_list = sensors_loc_df['sensor_index']
#average = 1440

#fnames = []
#for idx in sensors_list:
#    response = requests.get(f"https://api.purpleair.com/v1/sensors/{idx}/history?start_timestamp={unix_start_time}&end_timestamp={unix_end_time}&average={average}&fields=pm1.0_cf_1%2C%20pm2.5_cf_1%2C%20pm10.0_cf_1", headers=headers).json()
#    fname = create_df(response, idx, sensors_loc_df)
#    fnames.append(fname)

In [14]:
# This part is commented so it won't run everytime we refresh the notebook.

# Print the created csv files
#fnames

In [15]:
# use glob to get all the csv files in the folder
path = 'PurpleAir/Sensors_Data/pa_API/'
csv_files = glob.glob(os.path.join(path, "*.csv"))

# Create an empty list
temp_list = []

for f in csv_files:    
    path, filename = os.path.split(f)
    root, ext = os.path.splitext(filename)
    root = pd.read_csv(f)
    # Append each dataframe into df_sensors
    temp_list.append(root)
    
# Display two rowns of each dataset
for dataset in temp_list:
    display(dataset.head(2))

,date_local,pm1.0_cf_1,pm2.5_cf_1,pm10.0_cf_1,pm2.5_aqi,pm10.0_aqi,aqi,sensor_index,sensor_name
0,2021-01-01 16:00:00,3.9435,6.0165,6.8290,25,6,25,27109,AQMD_NASA_248
1,2021-01-02 16:00:00,14.0400,21.6700,24.5025,71,23,71,27109,AQMD_NASA_248

,date_local,pm1.0_cf_1,pm2.5_cf_1,pm10.0_cf_1,pm2.5_aqi,pm10.0_aqi,aqi,sensor_index,sensor_name
0,2021-01-01 16:00:00,14.9905,20.5255,23.4710,69,22,69,29201,CCA La Kretz Innovation Center LACI
1,2021-01-02 16:00:00,23.7945,35.9975,42.4185,102,39,102,29201,CCA La Kretz Innovation Center LACI

,date_local,pm1.0_cf_1,pm2.5_cf_1,pm10.0_cf_1,pm2.5_aqi,pm10.0_aqi,aqi,sensor_index,sensor_name
0,2021-01-01 16:00:00,5.2395,7.211,8.042,30,7,30,29697,CSUN Live Oak
1,2021-01-02 16:00:00,16.7065,23.393,25.950,75,24,75,29697,CSUN Live Oak

,date_local,pm1.0_cf_1,pm2.5_cf_1,pm10.0_cf_1,pm2.5_aqi,pm10.0_aqi,aqi,sensor_index,sensor_name
0,2021-01-01 16:00:00,11.208,15.0875,16.9940,57,16,57,30391,CCA 23rd and Meyler
1,2021-01-02 16:00:00,19.970,28.9735,33.3475,86,31,86,30391,CCA 23rd and Meyler

,date_local,pm1.0_cf_1,pm2.5_cf_1,pm10.0_cf_1,pm2.5_aqi,pm10.0_aqi,aqi,sensor_index,sensor_name
0,2021-01-01 16:00:00,5.2475,7.6945,8.1865,32,8,32,32969,Nichols Canyon Road
1,2021-01-02 16:00:00,16.1805,25.6050,27.3705,79,25,79,32969,Nichols Canyon Road

,date_local,pm1.0_cf_1,pm2.5_cf_1,pm10.0_cf_1,pm2.5_aqi,pm10.0_aqi,aqi,sensor_index,sensor_name
0,2021-01-01 16:00:00,6.682,9.019,9.3860,38,9,38,6454,AQMD_NASA_3
1,2021-01-02 16:00:00,25.047,36.619,38.1405,104,35,104,6454,AQMD_NASA_3

,date_local,pm1.0_cf_1,pm2.5_cf_1,pm10.0_cf_1,pm2.5_aqi,pm10.0_aqi,aqi,sensor_index,sensor_name
0,2021-01-01 16:00:00,20.3790,25.7175,27.4285,80,25,80,7290,Hacienda
1,2021-01-02 16:00:00,31.8275,42.9240,46.6265,119,43,119,7290,Hacienda

,date_local,pm1.0_cf_1,pm2.5_cf_1,pm10.0_cf_1,pm2.5_aqi,pm10.0_aqi,aqi,sensor_index,sensor_name
0,2021-01-01 16:00:00,12.3365,17.560,18.521,62,17,62,77657,Miracle Mile
1,2021-01-02 16:00:00,19.6165,30.828,32.898,90,30,90,77657,Miracle Mile

,date_local,pm1.0_cf_1,pm2.5_cf_1,pm10.0_cf_1,pm2.5_aqi,pm10.0_aqi,aqi,sensor_index,sensor_name
0,2021-01-01 16:00:00,3.0220,4.842,5.5135,20,5,20,85645,AEnv
1,2021-01-02 16:00:00,13.1195,20.633,22.9205,69,21,69,85645,AEnv

,date_local,pm1.0_cf_1,pm2.5_cf_1,pm10.0_cf_1,pm2.5_aqi,pm10.0_aqi,aqi,sensor_index,sensor_name
0,2021-01-01 16:00:00,2.5760,4.0315,4.588,17,4,17,87181,Granada Hills
1,2021-01-02 16:00:00,16.9955,26.0860,28.927,80,27,80,87181,Granada Hills

In [16]:
sensors_aqi_df = pd.concat(temp_list, axis = 0)
sensors_aqi_df.to_csv('sensors_aqi.csv', index=False)

In [17]:
# Check if there is any missing values
sensors_aqi_df.isnull().sum()

#for i in range(len(df_sensors)):
 #   print(df_sensors[i].isnull().sum())

date_local      0
pm1.0_cf_1      0
pm2.5_cf_1      0
pm10.0_cf_1     0
pm2.5_aqi       0
pm10.0_aqi      0
aqi             0
sensor_index    0
sensor_name     0
dtype: int64

<h2>Visualize 2021 311-Services Around Each Sensors on A Map</h2>

In [18]:
# Read the csv file
df2021 = pd.read_csv("../311_data_time_series/MyLA311_Service_Request_Data_2021.csv")
df2021.head(2)

C:\Miniconda\envs\IBM_DS\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,SRNumber,CreatedDate,UpdatedDate,ActionTaken,Owner,RequestType,Status,RequestSource,MobileOS,Anonymous,AssignTo,ServiceDate,ClosedDate,AddressVerified,ApproximateAddress,Address,HouseNumber,Direction,StreetName,Suffix,ZipCode,Latitude,Longitude,Location,TBMPage,TBMColumn,TBMRow,APC,CD,CDMember,NC,NCName,PolicePrecinct
0,1-1831742951,01/01/2021 12:06:16 AM,01/02/2021 02:23:21 PM,SR Created,LASAN,Metal/Household Appliances,Closed,Call,NaN,N,EV,01/02/2021 12:00:00 AM,01/02/2021 02:18:38 PM,Y,N,"15251 W CAREY RANCH LANE, 91342",15251.0,W,CAREY RANCH,LANE,91342.0,34.289389,-118.463593,"(34.2893893478, -118.46359286)",481.0,H,6.0,North Valley APC,7.0,Monica Rodriguez,5.0,Sylmar,MISSION
1,1-1831741721,01/01/2021 12:27:17 AM,01/03/2021 01:44:27 PM,SR Created,LASAN,Metal/Household Appliances,Closed,Call,NaN,N,WV,01/02/2021 12:00:00 AM,01/03/2021 01:43:16 PM,Y,N,"23022 W BLYTHE ST, 91304",23022.0,W,BLYTHE,ST,91304.0,34.214001,-118.628669,"(34.2140011149, -118.628669123)",529.0,G,3.0,South Valley APC,12.0,John Lee,11.0,West Hills,TOPANGA

In [19]:
len(df2021)

1451351

In [20]:
# Check if there is any missing values
print(df2021.isnull().sum())

SRNumber                    0
CreatedDate                 0
UpdatedDate                 0
ActionTaken                 0
Owner                       3
RequestType                 0
Status                      0
RequestSource               0
MobileOS              1055265
Anonymous                   0
AssignTo                30989
ServiceDate             75065
ClosedDate               4956
AddressVerified             0
ApproximateAddress     526984
Address                    71
HouseNumber            276043
Direction               80880
StreetName             276043
Suffix                 103943
ZipCode                   907
Latitude                  552
Longitude                 552
Location                  552
TBMPage                   555
TBMColumn                 555
TBMRow                    555
APC                       595
CD                        563
CDMember               208076
NC                      21108
NCName                  21108
PolicePrecinct            572
dtype: int64

In [21]:
df2021["Status"].unique()

array(['Closed', 'Cancelled', 'Pending', 'Open', 'Referred Out',
       'Forward'], dtype=object)

In [22]:
df2021['RequestType'].unique()

array(['Metal/Household Appliances', 'Bulky Items',
       'Illegal Dumping Pickup', 'Graffiti Removal', 'Other',
       'Homeless Encampment', 'Dead Animal Removal',
       'Single Streetlight Issue', 'Multiple Streetlight Issue',
       'Report Water Waste', 'Electronic Waste', 'Feedback'], dtype=object)

In [23]:
df2021.columns

Index(['SRNumber', 'CreatedDate', 'UpdatedDate', 'ActionTaken', 'Owner',
       'RequestType', 'Status', 'RequestSource', 'MobileOS', 'Anonymous',
       'AssignTo', 'ServiceDate', 'ClosedDate', 'AddressVerified',
       'ApproximateAddress', 'Address', 'HouseNumber', 'Direction',
       'StreetName', 'Suffix', 'ZipCode', 'Latitude', 'Longitude', 'Location',
       'TBMPage', 'TBMColumn', 'TBMRow', 'APC', 'CD', 'CDMember', 'NC',
       'NCName', 'PolicePrecinct'],
      dtype='object')

In [24]:
# Create df21 which consists of few columns from df2021
df21 = df2021[['CreatedDate', 'RequestType', 'Status', 'ServiceDate', 'Latitude', 'Longitude', 'NC',
       'NCName']]

In [25]:
# Find the number of Status in df21 which is Closed
print("Number of Status equals to Closed: ", len(df21[df21['Status'] == "Closed"]))

# Find the percentage of Status in df21 which is Closed
print("Percentage of Status equals to Closed: ", len(df21[df21['Status'] == "Closed"])/len(df21)*100)

Number of Status equals to Closed:  1396440
Percentage of Status equals to Closed:  96.2165596054986

In [26]:
# Find the number of RequestType in df21 which is Feedback
print("Number of RequestType equals to Feedback: ", len(df21[df21['RequestType'] == "Feedback"]))

# Find the percentage of RequestType in df21 which is Feedback
print("Percentage of RequestType equals to Feedback: ", len(df21[df21['RequestType'] == "Feedback"])/len(df21)*100)

Number of RequestType equals to Feedback:  408
Percentage of RequestType equals to Feedback:  0.02811173864902425

In [27]:
# Select only rows which Status are Closed.
df21 = df21[df21['Status'] == "Closed"]

# Select only rows which RequestType not equal to Feedback since Feedback won't affect air qualiality.
df21 = df21[df21['RequestType'] != "Feedback"]

In [28]:
# Check if there is any missing values
print(df21.isnull().sum())

CreatedDate        0
RequestType        0
Status             0
ServiceDate    56647
Latitude         267
Longitude        267
NC             20050
NCName         20050
dtype: int64

In [29]:
# See few rows where the ServiceDate is NaN
df21[df21["ServiceDate"].isna()].head()

,CreatedDate,RequestType,Status,ServiceDate,Latitude,Longitude,NC,NCName
23,01/01/2021 02:21:06 AM,Other,Closed,NaN,34.202681,-118.431515,20.0,Van Nuys
32,01/01/2021 05:27:11 AM,Dead Animal Removal,Closed,NaN,34.174608,-118.537314,17.0,Tarzana
33,01/01/2021 05:38:37 AM,Dead Animal Removal,Closed,NaN,34.174608,-118.537314,17.0,Tarzana
43,01/01/2021 07:11:56 AM,Other,Closed,NaN,33.987520,-118.329497,80.0,Park Mesa Heights
52,01/01/2021 07:43:19 AM,Dead Animal Removal,Closed,NaN,34.209821,-118.409395,22.0,North Hollywood West

In [30]:
# Recheck the lenght of rows which ServiceDate is NaN
len(df21[df21["ServiceDate"].isna()])

56647

After examining few rows which __ServiceDate__ is equal to __NaN__. We see that the requests were created but no service were performed. We will drop the rows which the service dates are empty since our goal is to investigate the correlation between the air quality around the selected 10 sensors and the services performed because of the 311 requests.

In [31]:
# Select only rows which ServiceDate are not NaN.
df21 = df21[df21['ServiceDate'].notnull()]

In [32]:
# Check if there is any missing values
print(df21.isnull().sum())

CreatedDate        0
RequestType        0
Status             0
ServiceDate        0
Latitude          17
Longitude         17
NC             18691
NCName         18691
dtype: int64

In [33]:
# Select only rows which Longitude or Latitude are not NaN.
df21 = df21[df21['Latitude'].notnull()]

In [34]:
# Check if there is any missing values
print(df21.isnull().sum())

CreatedDate        0
RequestType        0
Status             0
ServiceDate        0
Latitude           0
Longitude          0
NC             18674
NCName         18674
dtype: int64

In [35]:
len(df21)

1339588

In [36]:
df21['CreatedDate'] = pd.to_datetime(df21['CreatedDate'])

In [37]:
df21['ServiceDate'] = pd.to_datetime(df21['ServiceDate'])

In [38]:
df21['Diff_Dates'] = (df21["ServiceDate"] - df21["CreatedDate"])/np.timedelta64(1, 'D')

In [39]:
# Check if there are any Diff_Dates which has negative values
any(df21['Diff_Dates'] < 0)

True

In [40]:
# Find the number of Diff_Dates in df21 which is negative
print("Number of Diff_Dates < 0: ", len(df21[df21['Diff_Dates'] < 0]))

# Find the percentage of Diff_Dates in df21 which is negative
print("Percentage of Diff_Dates < 0: ", len(df21[df21['Diff_Dates'] < 0])/len(df21)*100)

Number of Diff_Dates < 0:  214651
Percentage of Diff_Dates < 0:  16.023658020227113

In [41]:
# See few rows which Diff_Dates has negative values  
df21[df21['Diff_Dates'] < 0].head(10)

,CreatedDate,RequestType,Status,ServiceDate,Latitude,Longitude,NC,NCName,Diff_Dates
117,2021-01-01 08:49:01,Multiple Streetlight Issue,Closed,2021-01-01 00:00:00,34.240892,-118.413249,7.0,Pacoima,-0.367373
1218,2021-01-01 16:49:36,Graffiti Removal,Closed,2020-12-24 09:00:00,34.303919,-118.478329,5.0,Sylmar,-8.326111
1220,2021-01-01 16:50:21,Graffiti Removal,Closed,2020-12-24 09:01:00,34.303821,-118.478874,5.0,Sylmar,-8.325938
1222,2021-01-01 16:51:07,Graffiti Removal,Closed,2020-12-26 09:02:00,34.304217,-118.434394,5.0,Sylmar,-6.325775
1226,2021-01-01 16:51:51,Graffiti Removal,Closed,2020-12-26 09:03:00,34.305553,-118.432693,5.0,Sylmar,-6.325590
1228,2021-01-01 16:52:36,Graffiti Removal,Closed,2020-12-26 09:04:00,34.305553,-118.432693,5.0,Sylmar,-6.325417
1232,2021-01-01 16:53:21,Graffiti Removal,Closed,2020-12-26 09:05:00,34.305553,-118.432693,5.0,Sylmar,-6.325243
1234,2021-01-01 16:54:06,Graffiti Removal,Closed,2020-12-26 09:06:00,34.305553,-118.432693,5.0,Sylmar,-6.325069
1236,2021-01-01 16:54:51,Graffiti Removal,Closed,2020-12-26 09:07:00,34.305553,-118.432693,5.0,Sylmar,-6.324896
1237,2021-01-01 16:55:36,Graffiti Removal,Closed,2020-12-26 09:08:00,34.300040,-118.438984,5.0,Sylmar,-6.324722

Since it doesn't make sense to have a ServiceDate which is before the CreatedDate, we will drop the rows which `Diff_Dates` < 0.

In [42]:
# Select only rows where Diff_Dates >= 0
df21 = df21[df21['Diff_Dates'] >= 0]

# Find the length of df21
len(df21)

1124937

In [43]:
# Check if there is any missing values
print(df21.isnull().sum())

CreatedDate        0
RequestType        0
Status             0
ServiceDate        0
Latitude           0
Longitude          0
NC             16795
NCName         16795
Diff_Dates         0
dtype: int64

In [44]:
df21 = df21.reset_index(drop=True)
df21.head()

,CreatedDate,RequestType,Status,ServiceDate,Latitude,Longitude,NC,NCName,Diff_Dates
0,2021-01-01 00:06:16,Metal/Household Appliances,Closed,2021-01-02,34.289389,-118.463593,5.0,Sylmar,0.995648
1,2021-01-01 00:27:17,Metal/Household Appliances,Closed,2021-01-02,34.214001,-118.628669,11.0,West Hills,0.981053
2,2021-01-01 00:40:36,Bulky Items,Closed,2021-01-02,34.200714,-118.630509,11.0,West Hills,0.971806
3,2021-01-01 00:44:16,Bulky Items,Closed,2021-01-07,34.072331,-118.311496,119.0,Greater Wilshire,5.969259
4,2021-01-01 00:44:33,Illegal Dumping Pickup,Closed,2021-01-06,34.069119,-118.237733,128.0,Historic Cultural North,4.969062

<h3>Create a Dataframe of 311-Services Performed Around the 10 Selected Sensors</h3>

Since it is too much for the computer to loop through df21 and sensors_loc_df to collect 311 requests which surround the 10 sensors. We separate the df21 into `df21[0:200000]`, `df21[20000:400000]`, `df21[40000:600000]`, `df21[60000:800000]`, `df21[80000:1000000]`, `df21[100000:len(df21)]`, then create a dataset for each part of df21. Afterwards, we combine the datasets into one dataset.

In [45]:
# This part is commented so it won't run everytime we refresh the notebook

#start_ind = 0
#end_ind = 200000
#print(start_ind, end_ind)

#while end_ind < len(df21): 
#    fname = f'start_ind_{start_ind}'
#    create_request_sensor_df(df21.iloc[start_ind: end_ind], sensors_loc_df, fname)
#    start_ind = end_ind
#    end_ind += 200000
    #print(start_ind, end_ind)
    
#if end_ind > len(df21):
#    fname = f'start_ind_{start_ind}'
#    create_request_sensor_df(df21.iloc[start_ind: len(df21)], sensors_loc_df, fname)
    #print(start_ind, len(df21))

In [46]:
# use glob to get all the csv files in the folder
path = 'PurpleAir/Sensors_Data/request_around_sensors/'
csv_files = glob.glob(os.path.join(path, "*.csv"))

# Create an empty list
temp_list = []

for f in csv_files:    
    path, filename = os.path.split(f)
    root, ext = os.path.splitext(filename)
    root = pd.read_csv(f)
    # Append each dataframe into temp_list
    temp_list.append(root)
          
req_around_sensors_df = pd.concat(temp_list, axis = 0)

In [47]:
req_around_sensors_df.sort_values(["Sensor#"], ascending=[True])
req_around_sensors_df = req_around_sensors_df.reset_index(drop=True)

In [48]:
req_around_sensors_df.to_csv('req_around_sensors.csv', index=False)
len(req_around_sensors_df)

255116

In [49]:
req_around_sensors_df.head()

,CreatedDate,RequestType,ServiceDate,Latitude,Longitude,SensorName,SensorIndex,Sensor#
0,2021-01-01 10:55:25,Bulky Items,2021-01-04 00:00:00,34.264866,-118.320353,AEnv,85645,0
1,2021-01-01 10:57:45,Bulky Items,2021-01-04 00:00:00,34.266566,-118.310450,AEnv,85645,0
2,2021-01-01 12:00:39,Bulky Items,2021-01-04 00:00:00,34.269679,-118.313909,AEnv,85645,0
3,2021-01-01 13:45:49,Bulky Items,2021-01-04 00:00:00,34.266567,-118.315061,AEnv,85645,0
4,2021-01-01 13:46:40,Bulky Items,2021-01-04 00:00:00,34.266567,-118.315061,AEnv,85645,0

In [50]:
# Create a base map
longitude = -118.2518
latitude = 34.0488
m4 = folium.Map(location=[latitude, longitude], tiles = 'CartoDB positron', zoom_start=11, min_zoom=8,max_zoom=15)

# Read the geojson file
#nc_geo = gpd.read_file('Neighborhood_Councils_(Certified).geojson') 

# Add several TileLayers
folium.TileLayer('openstreetmap').add_to(m4)
folium.TileLayer('stamenterrain').add_to(m4)

# Read the geojson file
nc_geo = gpd.read_file('Neighborhood_Councils_(Certified).geojson') 
nc_geo = nc_geo[["NC_ID", "NAME", "SERVICE_RE","geometry"]]

# Create choropleth map of NC
cpleth = folium.Choropleth(geo_data = nc_geo,
            name='Choropleth',
            key_on='features.properties.Name',
            #line_color='green', 
            #fill_color='YlGn',
            fill_opacity=0.1, line_opacity=0.3
            ).add_to(m4) 
folium.LayerControl().add_to(m4) 

# Set the radius of the circles surrounding the monitoring stations in meter
miles = 2
meters_c = miles * 1609.34

# Plot the selected PurpleAir sensors
for i, lat, lng, sensor_name, sensor_index in zip(sensors_loc_df.index.values.tolist(),sensors_loc_df.latitude, sensors_loc_df.longitude, sensors_loc_df.sensor_name, sensors_loc_df.sensor_index):
    tooltip_text = sensor_name+", ID: " + str(sensor_index)
    folium.CircleMarker([lat, lng], radius = 15, color = "green", weight=1,
                fill = True, fill_color = "green", fill_opacity = 0.1,
                tooltip=tooltip_text).add_to(m4)
    folium.Circle([lat, lng], radius = meters_c, color = "blue",  weight=1.5,
                             ).add_to(m4)
    folium.Marker([lat, lng],
    icon=folium.DivIcon(html=f"""<div style="font-family: Arial; 
    color: b; font-weight: bold; font size="+5"">{i}</div>""")
    ).add_to(m4)

In [51]:
req_around_sensors_df["RequestType"].unique()

array(['Bulky Items', 'Metal/Household Appliances', 'Graffiti Removal',
       'Homeless Encampment', 'Electronic Waste',
       'Illegal Dumping Pickup', 'Multiple Streetlight Issue',
       'Single Streetlight Issue', 'Dead Animal Removal'], dtype=object)

req_types = ['Bulky Items', 'Metal/Household Appliances', 'Graffiti Removal',
       'Homeless Encampment', 'Electronic Waste',
       'Illegal Dumping Pickup', 'Multiple Streetlight Issue',
       'Single Streetlight Issue', 'Dead Animal Removal']

types_color = ["blue", "darkred", "orange", "lightred", "green", "cyan", "lightgreen", "pink", "black"]

for lat, lng, req_type  in zip(req_around_sensors_df.Latitude, req_around_sensors_df.Longitude, req_around_sensors_df.RequestType):
    tooltip_text = req_type
    for i in range(len(req_types)):
        if req_type == req_types[i]:
            folium.CircleMarker([lat, lng], radius = 2, color = types_color[i], weight=1,
                fill = True, fill_color = types_color[i], fill_opacity = 0.6,
                tooltip=tooltip_text).add_to(m4)
            
m4.save('requests_around_sensors.html')
m4